
body{
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}
.hero{
    background-image: url("../img/hero-img.png");
    width: 100%;
    height: 26.875rem;
    z-index: -1;
}
.dan{
    padding-left: 7.625rem;
}
.hh1{
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 3.75rem;
    line-height: 4.6875rem;
    /* identical to box height */
    color: #FFFFFF;
    text-align: center;
    margin-top: -1.5rem;
}
.hh2{
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: medium;
    font-size: 1rem;
    line-height: 1.3125rem;
    text-align: center;
    letter-spacing: 1.5px;
    margin-top: -1rem;
    color: #FFFFFF;
    padding-left: 3%;
    padding-right: 3%;
}

.hh3{
    font-family: PT Serif;
    font-style: normal;
    font-weight: medium;
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 1.5px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 3%;
    padding-right: 3%;
}
.hero2{
    background-image: url("../img/building.svg");
    background-repeat: repeat-x;
    z-index: 0;
    background-position:left bottom;
    width: 100%;
    height: 27.875rem;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hero3{
    background-image: url("../img/train.svg");
    background-repeat: no-repeat;
    z-index: 1;
    background-position: left bottom;
    width: 100%;
    height: 26.875rem;
}
@media only screen and (max-width: 550px) {
    .hero{
        height: 35.875rem;
    }
    .hero2{
        height: 36.875rem;
    }
    .hero3{
        height: 35.875rem;
    }
}
.div2{
    /* padding-left: 28%; */
    width: 80%;
    text-align: center;
    padding-left: 8%;
}
.hh4{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 3.125rem;
    color: #FFFFFF;
}
.input{
    margin-top: -25px;
}
.emai{
    background: #FFFFFF;
    border-radius: 5px;
    width: 45%;
    height: 2.5rem;

    font-family: PT Serif;
    font-style: normal;
    font-size: 1rem;
    line-height: 0.8125rem;
    /* identical to box height */
    color: #050307;
    outline: none;
    border: none;
    padding-left: 30px;
}
.butt{
    background: #FCEE21;
    border-radius: 5px;
    width: 11.9375rem;
    height: 2.8rem;
    outline: none;
    border: none;
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
    /* identical to box height */
    color: #050307;
}
.butt:hover{
    background: #d8cb1c;
    cursor: pointer;
}
.butt:active{
    background-color: #FCEE21;
    color: #050307;
}
.hh5{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    color: #FFFFFF;
}
@media only screen and (max-width: 800px) {
    .div2{
        padding-left: 0%;
        margin: auto;
    }
    .emai{
        width: 80%;
        margin-bottom: 10px;
    }
}


.div3{
    padding-left: 10%;
    padding-right: 10%;
}
.hh6{
    font-family: Lobster;
    font-style: normal;
    font-weight: normal;
    font-size: 3.125rem;
    line-height: 3.875rem;
    /* identical to box height */
    color: #0898E7;
}
.ellip1{
    background: linear-gradient(180deg, #9995E3 0%, #97B2F0 100%), #C4C4C4;
    transform: rotate(-180deg);
    height: 39px;
    width: 38px;
    border-radius: 50%;
    position: absolute;
    left: 84.7%;
    margin-top: -5rem;
}
.hh7{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.375rem;
    line-height: 2.5rem;
    margin-top: -20px;
    color: #FFFFFF;
    width: 64%;
}
.ellip2{
    width: 6.4375rem;
    height: 6.25rem;
    background: #C4C4C4;
    transform: rotate(-180deg);
    left: 88%;
    margin-top: -6.25rem;
    border-radius: 50%;
    position: absolute;
}
@media only screen and (max-width: 885px) {
    .ellip2{
        display: none;
    }
    .ellip3{
        display: none;
    }
}
.ellip3{
    position: absolute;
    width: 8.4375rem;
    height: 8.625rem;
    left: 9rem;
    border-radius: 50%;
    background: #FFBDBD;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.flex-container2{
    padding-top: 15%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.hh8{
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
    /* identical to box height */
    color: #0898E7;
}
.hh9{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    margin-top: -50px;
}

.cont1{
    width: 20%;
    padding-left: 5%;
    padding-right: 5%;
}
.cont2{
    width: 45%;
}
.cont3{
    width: 20%;
    padding-right: 5%;
    padding-left: -25%;
}

.hh10{

    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
    /* identical to box height */
    color: #0898E7;
}
.hh11{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    margin-top: -50px;
}

.titl2{
    padding-top: 30px;
}
.titl1{
    margin-top: -65px;
}
@media only screen and (max-width: 845px) {
    .flex-container2{
        flex-direction: column;
    }
    .cont1{
        width: 80%;
    }
    .cont2{
        width: 80%;
    }
    .cont3{
        width: 80%;
    }

}

.div5{
    text-align: center;
}
.hh12{
    font-family: Lobster;
    font-style: normal;
    font-weight: normal;
    font-size: 3.125rem;
    line-height: 3.875rem;
    /* identical to box height */
    color: #FFFFFF;

}

.hh13{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    padding-left: 20%;
    padding-right: 20%;
    
}

.containerr{
    text-align: center;
    width: 100%;
    height: auto;
    background-image: url("../img/Ellipse\ 71.png"), url("../img/Ellipse\ 75.png");
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
    padding-bottom: 70px;
}
.containerr2{
    width: 50%;
}

.fle-imgs{
    margin-bottom: -60px;
    padding-left: 30%;
}
.slider-imgs{
    width: 40%;
}
@media only screen and (max-width: 940px) {
    .slider-imgs{
        width: 330px;
    }
    
}



/* Contact Us Form */
.div6{
    background-color: #0B0016;
    padding-left: 9.1%;
    padding-right: 9.1%;
    padding-top: 30px;
    
}
.hh14{
    font-family: Lobster;
    font-style: normal;
    font-weight: normal;
    font-size: 3.125rem;
    line-height: 62px;
    
    color: #0898E7;
}
.hh15{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.375rem;
    line-height: 30px;
    max-width: 595px;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: -40px;
}

.form1 > label{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 40px;

    color: #FFFFFF;
}
.form1 > input{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 5px;
    height: 51.11px;
    margin-bottom: 10px;
    padding-left: 30px;
    outline: none;
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 32px;
}
#message{
    height: 300px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 30px;
    outline: none;
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 32px;
}
.form1 > div{
    text-align: right;
}
.form1 > div > button{
    width: 191px;
    height: 40px;
    outline: none;
    border: none;
    background: #FCEE21;
    border-radius: 5px;
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #050307;
    margin-top: 18px;
    margin-bottom: 60px;
}
.form1 > div > button:hover{
    background: #d8cb1c;
    cursor: pointer;

}
.form1 > div > button:active{
    background: #FCEE21;
    color: #050307;
}
.div7{
    text-align: center;
}
.div7img{
    padding-left: 20px;
}
.div7imgg{
    padding-left: 2px;
}
.hh16{
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;

    color: #99A0AA;

    text-align: center;
    padding-bottom: 40px;
    margin-bottom: -20px;
}


.scale-up-center {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-28 9:11:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  






  .slide-bck-tr {
	-webkit-animation: slide-bck-tr 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both;
	        animation: slide-bck-tr 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both;
}/* ----------------------------------------------
 * Generated by Animista on 2020-7-28 9:27:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bck-tr
 * ----------------------------------------
 */
@-webkit-keyframes slide-bck-tr {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(-400px) translateY(-200px) translateX(200px);
              transform: translateZ(-400px) translateY(-200px) translateX(200px);
    }
  }
  @keyframes slide-bck-tr {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(-400px) translateY(-200px) translateX(200px);
              transform: translateZ(-400px) translateY(-200px) translateX(200px);
    }
  }

  





  .slide-bck-br {
	-webkit-animation: slide-bck-br 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both;
	        animation: slide-bck-br 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both;
}/* ----------------------------------------------
 * Generated by Animista on 2020-7-28 9:32:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bck-br
 * ----------------------------------------
 */
@-webkit-keyframes slide-bck-br {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(-400px) translateY(200px) translateX(200px);
              transform: translateZ(-400px) translateY(200px) translateX(200px);
    }
  }
  @keyframes slide-bck-br {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(-400px) translateY(200px) translateX(200px);
              transform: translateZ(-400px) translateY(200px) translateX(200px);
    }
  }

  

  .tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-28 10:12:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

  





  .vibrate-1 {
	-webkit-animation: vibrate-1 1s linear infinite both;
	        animation: vibrate-1 1s linear infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-28 10:11:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
 @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  